
<header style="width:100%;">
	<div class="menu" >
		<nav class ="myNav">
		  	<ul class="myul">
				<li class="li"><a href='/'>Home</a></li>
				<li class="li"><a href='/auth/login'>Login</a></li>
				<li class="li"> Places
				  <ul class="drop-menu subMenu">
					<li  class="detsm li"><a href='/places'>User's Places</a></li>
				  </ul>
				</li>
				<li class="li">Countries
				  <ul class="drop-menu subMenu">
				    	<li  class="detsm li"><a href='/Countries'>Countries</a></li>
				  </ul>
				</li>
				<li class="li">User
					<ul class="drop-menu subMenu">
						<li  class="detsm li"><a href='/auth/register'>Register</a></li>
						<li class="li"><a href='/auth/logout'>Logout</a></li>
					</ul>
				</li>
		  	</ul>
		</nav>
	</div>
</header>
