<% include ./partials/boilerplate %>
<% include ./partials/nav %>
		<div class="container">
	        <form  action='/getPlacesToGo' id="request">
				<input name='country' type='text' placeholder='Country'/>
				<input name='city' type='text' placeholder='City'/>
	          	<button id="search" type="submit">...</button>
	        </form>
		</div>
    <script src="../src/jquery.js"></script>
    <script src="../src/main.js"></script>
	<% include ./partials/pageFooter %>
<% include ./partials/end %>
