*{
  font-family:  Georgia,  "Times New Roman",Serif;
}

textarea, input,label ,h3{
    background: 0;
    border: 0;
    overflow: visible;
    outline: 0;
    height: auto;
    font-size: 1.5em;
    color: yellow;
}

.inputUpdate{
    background-color: white;
    border: 1px solid silver;
    color: black;
    font-size: 1em;
}

button,a{
  color: black;
}

label{
  text-align: right;
}
.buttonContainer{
  display: flex;
  width: 600px;
  margin: auto;

}

.icon{
  width:5%;
  margin: auto
}

.image{
  width:60%;
  margin: auto;
}

form{
  width: 100%;
  display: inline-block;
}
.inputsHidden{
  visibility: hidden;
}

.info,label,h3{
  color: yellow;
  text-align: center;
}

.search{
  width: 20%;
}
button,
input[type="reset"]{
  display: inline-block;
}

button,
input[type="reset"],
input[type="button"],
input[type=submit] {
    background-color: yellow;
    color: black;
    font-size: 1.5em;
    color: black;
    padding-top:  20px;
    margin: 8px 0;
    border: 2px solid silver;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    text-align: center;

}


button:hover,
input[type="reset"]:hover ,
input[type="button"]:hover ,
input[type=submit]:hover {
    background-color: #146eb4;
    box-shadow: 0px 26px 26px  0px rgba(0,0,0,0.4);
    transform: translateY(-5px);
    color: white;
}

body {
  min-height: 100vh;
  display: flex;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.4em;
  flex-direction: column;
  background-image: url(/images/background2.jpg) no-repeat fixed center;

}

.placeHolder{
  width:  100%;
  height: : 100px;
  display: flex;
  margin: auto;
  flex-direction: column;
  background-color:  rgba(0,0,0,0.8 );
  border: white 1px  double;

}

.container {
  background: transparent url(/images/background.jpg) no-repeat fixed center;
  background-size:  100% 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.centerContainer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
  height:100%;

  background: transparent url(/images/background2.jpg) no-repeat fixed center;
  background-size:  100% 90%;
  color: black;
}


.detail-container {
  flex: 3;
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  box-sizing: border-box;
}

.show .detail-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.seeall {
  flex: 1;
  font-size: 1.8em;
  color: black;
  border-bottom: 3px solid blue;
  font-weight: 900;
  text-decoration: none;
}

.linkback {
  flex: 1;
}

h1 {
  margin: 2.5em;
  font-size: 2.5em;
  font-weight: 900;
}


h2 {
  color: black;
  font-size: 2em;
  font-weight: 900;
  font-style: oblique;
  line-height: 1em;
  letter-spacing: 1px;
  margin: 2em;
}

.links {
  display: flex;
  font-size: 0.8em;
  color: black;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
}

a{
  text-decoration: none;
  color: yellow;
}

.aButton{
  color: black;
  width: 200px;
  font-family: Courrier;
}

.aButton:hover{
  color: white;
}

.add , .edit{
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #eee;
}

.input{
  border: 0;
  border-bottom: 3px solid #eee;
  font-size: 1.7em;
  color: black;
  margin: 20px 0;
  padding: 5px;
  display: block;
  width: 100%;
  transition: 0.3s;
  background-color: lightyellow;
}
button,
input[type=submit]
  {
  display: block;
  margin: auto;
  background-color: yellow;
  padding: 10px 30px;
  font-size: 1.5em;
  color: black;
  font-family: Courrier
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
}



/* ========== menu ==============B  */

  .lSocialM{
    width:  50px;
    height: 50px;
    border: none
  }

  .detsm{
    width: 100%;
    height: 40px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
  }


  nav {
    margin: 2% 5% 0% 5%;
    text-align: center;
    width: 100%;
    background-color:  transparent;
    margin: 0;
    top:100%;

  }

  nav > ul {
    list-style: none;
    display: inline-block;
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
  }


  nav > ul > .li {
    float: left;
    width: 12%;
    height: 50px;
    position: relative;

    font-size: 22px;
    color: yellow;
    cursor: pointer;
  }

  nav > ul > .lSocialM {
    float: left;
    width: 60px;
    height: 50px;
  }

  nav > ul > li:hover > ul{
      top:100%;
      color: white;
  }

  nav > ul > li:hover {
    background-color:rgba(0,0,0,0.3 );
    border:yellow 2px double   ;

  }

  ul.drop-menu {
    position: absolute;
    bottom: 100%;
    width: 100%;
  }

  ul.drop-menu .li {
    background:  rgba(0,0,0,0.5 );
    color: black;
  }

  ul.drop-menu li:hover {
    background:  rgba(0,0,0,0.3 );
    color: black;

  }

  ul.drop-menu li:last-child {
    border-radius: 0px 0px 5px 5px;
  }

  ul.drop-menu li {
    display: none;
  }

  li:hover > ul.drop-menu li {
    display: block;
  }

  li:hover > ul.drop-menu .subMenu {
    perspective: 1000px;
  }

  li:hover > ul.drop-menu .subMenu li{
    opacity: 0;
  }


  li:hover > ul.drop-menu li:nth-child(1) {
    animation-name: display;
    animation-duration: 150ms;
    animation-delay: 0ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  li:hover > ul.drop-menu li:nth-child(2) {
    animation-name: display;
    animation-duration: 150ms;
    animation-delay: 150ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  li:hover > ul.drop-menu li:nth-child(3) {
    animation-name: display;
    animation-duration: 150ms;
    animation-delay: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }


  li:hover > ul.drop-menu li:nth-child(4) {
    animation-name: display;
    animation-duration: 150ms;
    animation-delay: 450ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
