<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<% for (let i=0; i < placesToGo.length;i++) { %>
	<h3><%= placesToGo[i].formatted_address %></h3>
	<p><%= placesToGo[i].name %></p>
	<div>
		<img src="<%= imagesUrl[i] %>"></img>
	</div>
<% } %>
<% include ../partials/end %>




</body>
</html>
